<td align="center" valign="top" width="$COLUMN_WIDTH">
<a href="$RELEASE_URL">
<img title="$TITLE" width="480px" src="$PREVIEW_URL" /><br/>
<b>$NAME</b>
</a><br/>
<sup><i>$AUTHOR</i></sup><br>
<sub>
<sup><a title="Last updated: $UPDATED" href="$HISTORY_URL">$UPDATED</a></sup> $AUTHOR_BTN&nbsp;&nbsp;<a href="$PREVIEW_URL"><img title="View full-size preview" src="https://user-images.githubusercontent.com/44569252/194037184-ae453506-2536-4c6f-8a19-4a6c1de6ce32.png" width="16"></a>$README$HAS_BGM$HAS_ICONPACK
</sub>
</td>
